<%= javascript_pack_tag 'game' %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<b>音楽素材</b>
<li>
  <a href="http://musicisvfr.com/free/se/quiz01.html">http://musicisvfr.com/free/se/quiz01.html</a>
</li>
<li>
  <a href="https://dova-s.jp/se/play599.html">https://dova-s.jp/se/play599.html</a>
</li>
