<style type="text/css">
<!--
@font-face {
   font-family: MarugameFont;
   src: url('/img/marugame.otf') format("opentype");
}

        <%# body {
            background-color: #3a3a3a;
            color: white;
            margin: 0;
            font-family: sans-serif;
        }

        .count {
            color: yellow;
            font-family: Miriam, "ＭＳ ゴシック", "MS Gothic";
            font-size: 200%;
        }

        a:link {
            color: #bbbbff;
            text-decoration: none;
        }

        a:visited {
            color: #bbbbff;
            text-decoration: none;
        }

        a:hover {
            color: #bbbbff;
            text-decoration: underline;
        } %>
-->
</style>

<div id="enchant-stage" style="width:800px;height:800px"></div>
<%= javascript_pack_tag 'game' %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<b>音楽素材</b>
<li>
  <a href="http://musicisvfr.com/free/se/quiz01.html">http://musicisvfr.com/free/se/quiz01.html</a>
</li>
<li>
  <a href="https://dova-s.jp/se/play599.html">https://dova-s.jp/se/play599.html</a>
</li>
